rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow logged-in users to read their own user data and public data
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }
    
    // Products can be read by anyone, but only written by admins.
    match /products/{productId} {
      allow read: if true;
      allow write: if request.auth != null && get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.role in ['admin', 'superadmin'];
    }

    // Orders can be created by any authenticated user.
    // They can only be read or updated by the user who created them or by an admin.
    match /orders/{orderId} {
        allow create: if request.auth != null;
        allow read, update: if request.auth != null && (resource.data.userId == request.auth.uid || get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.role in ['admin', 'superadmin']);
    }
    
    // Site settings can be read by anyone, but only updated by an admin.
    match /site/{docId} {
        allow read: if true;
        allow write: if request.auth != null && get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.role in ['admin', 'superadmin'];
    }
    
    // Allow authenticated users to read from the admins collection to check roles.
    // Writing is restricted to a Cloud Function (implicitly handled by Admin SDK).
    match /admins/{adminId} {
      allow read: if request.auth != null;
      allow write: if false; // Disallow client-side writes for security
    }

  }
}
